.emoji-mart-search {
  display: none;
}
.emoji-mart-preview {
  display: none;
}
.emoji-mart {
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}
#myPicker {
  position: relative;

  .icon-biaoqing {
    font-size: 25px;
    cursor: pointer;
    padding: 5px;
    padding-top: 0;
  }
}